.workoutPage {
    width:80%;
    margin: auto;
}

.workoutPanel {
    height: 17em;
    width: 100%;
    background-color: #f5f6f9;
    padding: 1em 0;
    text-align: center;
}

.tabImage {
    max-width: 100%;
    max-height: 65%;
    object-fit: cover;
    background-position: center;
    margin:auto;
}

.workoutDayContainer {
    margin: 2em 0;
    width: 100%;
}

.workoutInfoContainer {
    margin: 0 7.5%;
    width: 85%;
}

.workoutActivityInfo {
    text-align: center;
    width: 25%;
    display: inline-block;
    font-size: 1.4em;
}

.dayCompleteButton {
    float: right;
    margin: .5em;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--russian-green);
}

.dayCompleteButton:hover {
    background-color: var(--olivine);
}