* {
}

:root {
  --smoky-black: #140600;
  --russian-green: #659157;
  --olivine: #A1C084;
  --baby-blue-eyes: #AFCBFF;
  --light-periwinkle: #CFCFEA;
}

h1 {
  /* font-family: 'Inter', sans-serif; */
  font-size: 333%;
  background-color: transparent;
}

h2 {
  font-size: 255%;
  background-color: transparent;
}

h4 {
  font-size: 110%;
  font-family: 'Noto Sans TC', sans-serif;
  background-color: transparent;
}

.App {
}

